@model List<EmailCampaign.Domain.Entities.ErrorLog>

@{
    ViewData["Title"] = "Activity log";
    Layout = "_Layout"; // render the page without layout
}

<!DOCTYPE html>
<html lang="en">
    <head>
            <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="~/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/dist/css/adminlte.min.css">
    </head>
    <body>
        <div class="wrapper">
            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12 col">
                            <div class="card card-secondary">
                                <div class="card-header">
                                    <div class="d-flex justify-content-between align-items-center ">
                                        <h2 class="mb-0 ">Error Logs List</h2>
                                        <div class="card-tools">
                                            <div class="d-flex">
                                                <div class="d-flex form-group mb-0 d-flex align-items-center">
                                                    <input type="search" id="searchInput" class="form-control" placeholder="Search here">
                                                    <button id="searchButton" class="btn btn-default btn-outline-secondary">
                                                        <i class="fas fa-search"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                 <div class="card-body px-0 pt-0 pb-2">
                                    @if (Model != null && Model.Any())
                                    {
                                        <div class="table-responsive">
                                            <table id="searchTable" class="table table-bordered table-hover">
                                                <thead>
                                                    <tr>
                                                        <th>Index</th>
                                                        <th>Message</th>
                                                        <th>Details</th>
                                                        <th>StackTrace</th>
                                                        <th>InnerException</th>
                                                        <th>PageURL</th>
                                                        <th>Device</th>
                                                        <th>IpAddress/th>
                                                        <th>AddedOn</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @{
                                                        int i = 1;
                                                    }
                                                    @foreach (var item in Model)
                                                    {
                                                        <tr>
                                                            <td>@i</td>
                                                            <td>@item.Message</td>
                                                            <td>@item.Detail</td>
                                                            <td>@item.Stacktrace</td>
                                                            <td>@item.InnerException</td>
                                                            <td>@item.PageURL</td>
                                                            <td>@item.Device</td>
                                                            <td>@item.IPAddress</td>
                                                            <td>@item.AddedOn</td                                                        
                                                        </tr>
                                                        i++;
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    }
                                </div>
                                </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>


    <!-- jQuery -->
    <script src="../../plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="../../dist/js/adminlte.min.js"></script>
    </body>
</html>
