@model List<EmailCampaign.Domain.Entities.User>
@inject Microsoft.AspNetCore.Authorization.IAuthorizationService AuthorizationService


@{
    ViewData["Title"] = "User List";
    Layout = "_Layout"; // render the page without layout
}

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="~/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/dist/css/adminlte.min.css">
    <style>
        .action-buttons {
            display: flex;
            gap: 5px;
        }

            .action-buttons form {
                margin: 0;
            }
    </style>
</head>
<body>
    <div class="wrapper">
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 col">
                        <div class="card card-secondary">
                            <div class="card-header">
                                <div class="d-flex justify-content-between align-items-center ">
                                    <h2 class="mb-0 ">User List</h2>
                                    @if ((await AuthorizationService.AuthorizeAsync(User, "", "AddEditPermission")).Succeeded)
                                    {
                                        <a asp-controller="User" asp-action="AddUser" class="btn btn-dark btn-sm">
                                            <i class="fas fa-plus fa-sm"></i> Add New User
                                        </a>
                                    }
                                </div>
                            </div>

                            <div class="card-body px-0 pt-0 pb-2">
                                @if (Model != null && Model.Any())
                                {
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-hover">
                                            <thead>
                                                <tr>
                                                    <th>Index</th>
                                                    <th>FirstName</th>
                                                    <th>LastName</th>
                                                    <th>Email</th>
                                                    <th>Birthdate</th>
                                                    <th>RoleId</th>
                                                    <th>IsActive</th>
                                                     @if ((await AuthorizationService.AuthorizeAsync(User, "", "AddEditPermission")).Succeeded){
                                                        <th>
                                                            Actions
                                                        </th>
                                                     }
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @{
                                                    int i = 1;
                                                }
                                                @foreach (var user in Model)
                                                {
                                                    <tr>
                                                        <td>@i</td>
                                                        <td>@user.FirstName</td>
                                                        <td>@user.LastName</td>
                                                        <td>@user.Email</td>
                                                        <td>@user.BirthDate</td>
                                                        <td>@(ViewBag.Roles != null && ViewBag.Roles.ContainsKey(user.RoleId.ToString().ToUpper()) ? ViewBag.Roles[user.RoleId.ToString().ToUpper()] : "N/A")</td>
                                                        <td>

                                                            <a href="@Url.Action("IsActiveToggle", "User", new { email = user.Email })" 
                                                               class="btn btn-sm @(user.IsActive ? "btn-success" : "btn-danger") toggleButton">
                                                                @(user.IsActive ? "Active" : "Inactive")
                                                            </a>
                                                        </td>
                                                        @if ((await AuthorizationService.AuthorizeAsync(User, "", "AddEditPermission")).Succeeded)
                                                        {
                                                            <td>
                                                                <div class="action-buttons">

                                                                    <a asp-controller="User" asp-action="GetUserById" asp-route-id="@user.ID" class="btn btn-primary btn-sm">
                                                                        <i class="fas fa-edit fa-sm"></i>
                                                                    </a>

                                                                    @if ((await AuthorizationService.AuthorizeAsync(User, "", "DeletePermission")).Succeeded)
                                                                    {
                                                                        <form asp-controller="User" asp-action="Delete" asp-route-id="@user.ID" method="post" class="DeleteForm">
                                                                            <button type="submit" class="btn btn-danger btn-sm deleteButton">
                                                                                <i class="fas fa-trash-alt fa-sm"></i>
                                                                            </button>
                                                                        </form>
                                                                    }
                                                                </div>
                                                            </td>
                                                        }
                                                    </tr>
                                                    i++;
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- /.register-box -->
    <!-- jQuery -->
    <script src="../../plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="../../dist/js/adminlte.min.js"></script>
</body>

</html>