@model EmailCampaign.Domain.Entities.User

@{
    ViewData["Title"] = "User Profile";
    Layout = "_Layout";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="~/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/dist/css/adminlte.min.css">
</head>
<body>

    <div class="wrapper">
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card card-secondary">
                            <div class="card-header">
                                <div class="d-flex justify-content-between align-items-center mb-4">
                                    <h2 class="mb-0">User Profile</h2>
                                    <a asp-controller="User" asp-action="GetProfileForUpdate" asp-route-id="@Model.ID" class="btn btn-dark ">
                                        <i class="fas fa-plus fa-sm"></i> Update Profile
                                    </a>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="row g-0">
                                    <!-- Profile Picture Section -->
                                    <div class="col-md-4 text-center">
                                        <img src="@Model.ProfilePicture" alt="Profile Picture" class="img-fluid rounded-circle mb-3" style="width: 150px; height: 150px; object-fit: cover;">
                                    </div>
                                    <!-- User Information Section -->
                                    <div class="col-md-8">
                                        <div class="card-title mb-3"><h2>@Model.FirstName @Model.LastName</h2></div>
                                        <p class="card-text"><strong class="text-dark">Email: </strong> @Model.Email</p>
                                        <p class="card-text"><strong class="text-dark">Birthdate: </strong> @Model.BirthDate.ToShortDateString()</p>
                                        <p class="card-text"><strong class="text-dark">Role: </strong> @(ViewBag.Roles[@Model.RoleId.ToString().ToUpper()])</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>


    <!-- /.register-box -->
    <!-- jQuery -->
    <script src="../../plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="../../dist/js/adminlte.min.js"></script>
</body>

</html>