@model List<EmailCampaign.Domain.Entities.RolePermission>
@inject Microsoft.AspNetCore.Authorization.IAuthorizationService AuthorizationService


@{
    ViewData["Title"] = "Role-Permission List";
    Layout = "_Layout"; // render the page without layout
}
@{
    var d = ViewBag.Roles;
}
<!DOCTYPE html>
<html lang="en">

<head>
   
    <style>
        .action-buttons {
            display: flex;
            gap: 5px;
        }
        .action-buttons form {
            margin: 0;
        }
    </style>
</head>
<body>
<div class="wrapper">
    <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 col">
                        <div class="card card-secondary">
                            <div class="card-header">
                                <div class="d-flex justify-content-between align-items-center">
                                    <h2 class="mb-0">RolePermission List</h2>
                                    <div class="card-tools">
                                        <div class="d-flex form-group mb-0 d-flex align-items-center">
                                            <input type="search" id="searchInput" class="form-control" placeholder="Search here">
                                            <button id="searchButton" class="btn btn-default btn-outline-secondary">
                                                <i class="fas fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card-body px-0 pt-0 pb-2">
                                @if (Model != null && Model.Any())
                                {
                                    <div class="table-responsive">
                                        <table id="searchTable" class="table table-hover table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>Index</th>
                                                    <th>Role Name</th>
                                                    <th>Controller</th>
                                                    <th>IsView</th>
                                                    <th>IsAddEdit</th>
                                                    <th>IsDelete</th>
                                                    @*@if ((await AuthorizationService.AuthorizeAsync(User, "", "AddEditPermission")).Succeeded){
                                                        <th>
                                                            Actions
                                                        </th>
                                                     } *@
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @{
                                                    int i = 1;
                                                }
                                                @foreach (var item in Model)
                                                {
                                                    <tr>
                                                        <td>@i</td>
                                                        <td>@(ViewBag.Roles != null && ViewBag.Roles.ContainsKey(item.RoleId.ToString().ToUpper()) ? ViewBag.Roles[item.RoleId.ToString().ToUpper()] : "N/A")</td>
                                                        <td>@(ViewBag.Roles != null && ViewBag.Permission.ContainsKey(item.PermissionId.ToString().ToUpper()) ? ViewBag.Permission[item.PermissionId.ToString().ToUpper()] : "N/A")</td>
                                                        <td>@item.IsView</td>
                                                        <td>@item.IsAddEdit</td>
                                                        <td>@item.IsDelete</td>
                                                       @*  @if ((await AuthorizationService.AuthorizeAsync(User, "", "AddEditPermission")).Succeeded)
                                                        {
                                                            <td>
                                                                <div class="action-buttons">

                                                                     <a asp-controller="RolePermission" asp-action="GetById" asp-route-id="@item.Id" class="btn btn-primary btn-sm">
                                                                        <i class="fas fa-edit fa-sm"></i>
                                                                    </a> 

                                                                    @if ((await AuthorizationService.AuthorizeAsync(User, "", "DeletePermission")).Succeeded)
                                                                    {
                                                                        <form asp-controller="RolePermission" asp-action="Delete" asp-route-id="@item.Id" method="post" class="DeleteForm"> 
                                                                            <button type="submit" class="btn btn-danger btn-sm deleteButton">
                                                                                <i class="fas fa-trash-alt fa-sm"></i>
                                                                            </button>
                                                                        </form>
                                                                    }
                                                                </div>
                                                            </td>
                                                        } *@
                                                    </tr>
                                                    i++;
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                }
                                </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>
</div>
    
<script>
    $(document).ready(function () {
        $('#searchTable').DataTable({
            "paging": true,
            "lengthChange": true,
            "searching": false,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "responsive": true,
        });
    });
</script>

</body>

</html>